services:
  network-deploy-service:
    networks:
      - dhandapaniks-xyzbank-msntwrk

  microservice-base-config:
    extends:
      service: network-deploy-service # Network configuration for microservices
    deploy:
      resources:
        limits:
          memory: 700m
    environment:
      JAVA_TOOL_OPTIONS: "-javaagent:/app/libs/opentelemetry-javaagent-2.22.0.jar" # Path to OpenTelemetry Java Agent
      OTEL_EXPORTER_OTLP_ENDPOINT: http://tempo:4318 # OpenTelemetry Collector endpoint for OTLP
      OTEL_METRICS_EXPORTER: none # Disable metrics exporter if not needed
      OTEL_LOGS_EXPORTER: none # Disable logs exporter if not needed

  microservice-configserver-config:
    extends:
      service: microservice-base-config # Base configuration for microservices
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_CONFIG_IMPORT: configserver:http://ms-config-server:8071/ # Config Server URL

  microservice-eurekaserver-config:
    extends:
      service: microservice-configserver-config # Config Server configuration for microservices
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://ms-eurekaserver:8070/eureka/ # Eureka Server URL